<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rep. Discente BCC IME-USP 2026</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>
<body>
    <header>
        <h1>BCC IME-USP 2026</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/atas">Mural de Atas</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Representação Discente do Bacharelado em Ciência da Computação<br>Instituto de Matemática e Estatística - USP</p>
    </footer>
</body>
</html>
